.pricing__list {
   display: flex;
   gap: 30px;
}
@media (max-width: 1024px) {
   .pricing__list {
      gap: 20px;
}
}
@media (max-width: 320px) {
   .pricing__list {
      display: block;
      width: 100%;
}
}
#pricing {
   background-color:#F5F5F5; 
}
.pricing__title {
  padding-top: 110px;
}
.pricing__text:before {
   content: "";
   position: absolute;
   top: -40px;
   left: calc(50% - 85px);
   width: 170px;
   height: 1px;
   background: rgba(236, 121, 121, 0.645);
}
@media (max-width: 1024px) {
   .pricing__text:before {
      top: -32px;
      width: 142px;
      left: calc(50% - 71px);
}
}
@media (max-width: 1024px) {
   .pricing__text:before {
      top: -24px;
      width: 134px;
      left: calc(50% - 67px);
}
}
.pricing__text {
   position: relative;
}

@media (max-width: 1024px) {
   .pricing__text {
      font-size: 14px;
}
}
@media (max-width: 320px) {
   .pricing__text {
      margin-bottom: 24px;
}
}
.pricing__list__option {
    flex: 1;
    width: 32%;
    text-align: center; 
    margin-top: 79px;
    min-width: 100px;
    margin-bottom: 50px; 
}
@media (max-width: 1024px) {
   .pricing__list__option {
   margin-top: 50px;
}
}
@media (max-width: 320px) {
   .pricing__list__option {
      width: 100%;
      margin: 0;
      padding: 0 0 27px 0;
}
}


.pricing__list__option-shadow {
   flex: 1;
   width: 32%;
   text-align: center; 
   margin-top: 59px;
   min-width: 100px;
   margin-bottom: 50px;
}
@media (max-width: 1024px) {
   .pricing__list__option-shadow {
   margin-top: 32px;
}
}
@media (max-width: 320px) {
   .pricing__list__option-shadow {
      width: 100%;
      margin: 0;
      margin: 0 0 27px 0;
}
}
.pricing__item-shadow {
   box-shadow: 0px 4px 10px 0px rgba(51, 51, 51, 0.2);
}

.pricing__item__main-first {
   padding: 14px 0px;
   background-color: #333333;
   color: #FFFFFF;
   margin: 0;
   font-family: "OpenSans Bold", sans-serif;
   font-size: 24px;
}
@media (max-width: 1024px) {
   .pricing__item__main-first {
   padding: 12px 0px;
}
}
@media (max-width: 320px) {
   .pricing__item__main-first {
      padding: 12px 0px;
      font-size: 18px;
}
}

.pricing__item__main-big {
   padding: 27px 0px;
   background-color: #333333;
   color: #FFFFFF;
   border-top: 2px solid rgba(245, 245, 245, 1);
   border-bottom: 2px solid rgba(245, 245, 245, 1);
   margin: 0;
   font-size: 36px;
}
@media (max-width: 1024px) {
   .pricing__item__main-big {
      padding: 18px 0px;
}
}
@media (max-width: 320px) {
   .pricing__item__main-big {
      padding: 23px 0px;
      font-size: 24px;
}
}
.pricing__item__main-small {
   padding: 14px 0px;
   background-color: #333333;
   color: rgba(255, 255, 255, 0.5);
   font-size: 18px;
}
@media (max-width: 1024px) {
   .pricing__item__main-small{
      padding: 12px 0px;
}
}
@media (max-width: 320px) {
   .pricing__item__main-small {
      padding: 11px 0px 12px 0;
      font-size: 14px;
}
}
.pricing__item {
   padding: 13px 0px 12px 0px;
   background-color: #ffffff;
   color: #86878B;
   border-top: 2px solid #F5F5F5;
   border-bottom: 2px solid #F5F5F5;
   font-size: 18px;
}
@media (max-width: 1024px) {
   .pricing__item {
      padding: 11px 0px;
}
}
@media (max-width: 320px) {
   .pricing__item { 
      padding: 10px 0px 9.5px 0;
      font-size: 14px;
}
}

